# do not publish directories reserved for homework, exams, or development
in-development/
homework/
exams/

# working files and directories
.idea
.DS_Store

notebooks/.DS_Store
images/.DS_Store
.ipynb_checkpoints/
.texpadtmp/
*.aux
*.log
*.m~
.idea/workspace.xml
*.xml
